
<div class='container'>
  <h1>About</h1>
  <hr>
  <div class='row' >
    <div class='col-md-4'>
    <img src='assets/img/davidalig.jpg' class='img-responsive' style='padding-bottom:15px;'>
  </div>
    <div class='col-md-8'>

      <p>For more than 30 years, David Alig has helped families and individuals, including business owners and professionals, successfully use excellent estate planning tools to take care of themselves and protect their loved ones' inheritances. David works closely with his clients to create individualized documents and help personal representatives and trustees through the probate process, management of trusts, and the intricacies of guardianship.
      </p>
    </div>
  </div>
</div>
