<div class='container'>
  <h1>Contact</h1>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
  <strong>Phone:</strong><br>
(913) 387-5522
<br><br>
<strong>Email:</strong><br>
<a href="mailto:aliglaw@gmail.com">aliglaw@gmail.com</a>
<br><br>
<strong>Office:</strong>
<br>
Corporate Woods, 9393 West 110th Street, Suite 500<br>
Overland Park, Kansas 66210.
<br>
</div>
<div class='col-md-6'>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.8073453478914!2d-94.69453290000003!3d38.92838069999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0eafb11bf5cb9%3A0xc3f70e3621725b60!2s9393+W+110th+St+%23500%2C+Overland+Park%2C+KS+66210!5e0!3m2!1sen!2sus!4v1435538706987" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
