<div class='container'>
  <h1>Contact</h1>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
  <strong>Phone</strong>
(913) 387-5522
<br><br>
<strong>Email</strong>
<a href="mailto:aliglaw@gmail.com">aliglaw@gmail.com</a>
<br><br>
<strong>How to Find My Office:</strong>
<br>
I am in a one story building close to I-435 and Nall Avenue --  A block east of Nall and 1/2 a block south of College at 11115 Ash Street, Leawood, Kansas.
<br>
<br>
<img src="assets/img/office.jpg">
<br>
Easy parking and handicapped access.
<br>
<br>
</div>
<div class='col-md-6'>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=11115+Ash+Street,+Leawood,+KS&amp;aq=0&amp;sll=38.914912,-94.646616&amp;sspn=0.015894,0.049052&amp;ie=UTF8&amp;hq=&amp;hnear=11115+Ash+St,+Leawood,+Kansas+66211&amp;ll=38.926271,-94.646573&amp;spn=0.015891,0.032701&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=11115+Ash+Street,+Leawood,+KS&amp;aq=0&amp;sll=38.914912,-94.646616&amp;sspn=0.015894,0.049052&amp;ie=UTF8&amp;hq=&amp;hnear=11115+Ash+St,+Leawood,+Kansas+66211&amp;ll=38.926271,-94.646573&amp;spn=0.015891,0.032701&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</div>
</div>
</div>
