<div class='container'>
  <h1>Downloads</h1>
  <hr>
  <div class='row'>
    <div class='col-md-8'>
      <a href="aliglawfirm.heroku.com/public/assets/downloads/For_New_Clients-estate_plan_questionairre.rtf">For New Clients - Estate Plan Questionairre.rtf</a>
      <br>
This document is a series of questions to help determine if estate planning is right for you.
</br>
<br>
<a href="aliglawfirm.heroku.com/assets/downloads/Funding_Notebook.xls">Funding Notebook.xls</a><br>
This spreadsheet guides clients through a funding exercise.
    </div>
  </div>
</div>
