<div class='jumbotron' style='background:url(assets/img/background.jpg) no-repeat center 5% ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;'>

  <div class='container'>
    <div class='col-md-12' style="color:#292929;;">
    <h1>Alig Law Firm</h1>
    <p>Trusts, Wills, & Probate Administration<br>
      Business Strategies & Corporate Law<br>
      Elder Law & Special Needs Planning
    </p>
    </div>
    <h3 class='text-right' style="color:#fff; text-shadow: 2px 2px 4px #333333;">Forming the Path to Your Legacy.</h3>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-8' style='margin-bottom:15px;'>
    <p>For more than 30 years as attorney and counsel-at-law, David R. Alig has advised and

    represented families, companies, and entrepreneurs with a broad range of estate, trust,

    and business related services to take care of themselves, as well as protect the legacies

    they have built for their loved ones.</p>

    <p>The Alig Law Firm has long consulted with clients and provided legal services to:</p>

<ul>
<li>Thoughtfully establish simple Wills and Trusts & Advanced Estate Planning</li>
<li>Powers of Attorney and Health Care Instructions</li>
<li>Pre-Nuptial and Domestic Partner Contracts</li>
<li>Administrative Guidance for Fiduciary Trustees and Executors (Probate Estate and Trust Administration)</li>
<li>Formation & Proper Legal Maintenance of Corporations, LLC’s, & Partnerships</li>
<li>Shareholder & Partnership Agreements, Business Purchase/Sale Transactions</li>
<li>Commercial Lease & Property Agreements</li>
<li>Elder Law/Medicaid Planning</li>
</ul>
<br>

<p>Your call is welcome at 913-387-5522 in our Corporate Woods office – Overland Park,

Kansas to schedule a preliminary hour long consultation at no-charge.</p>
</div>
<div class='col-md-4'>
  <div style="background:#F2E6B6;padding:1px 15px 15px 15px;text-align:left;width:100%px">
	<form method="post" action="https://www.docubank.com/index.cfm?event=memberlogin" id="frmLogin" name="frmLogin" class='form-group'>
		<h4>DocuBank Member Log In</h4>
		<label for="MailingListID">
			Member Number:<br />
			<input type="text" id="MailingListID" name="MailingListID" value="" size="30" maxlength="50" class='form-control'>
		</label><br>
		<label for="Access_Code">
			PIN:<br />
			<input type="text" id="Access_Code" name="Access_Code" value="" size="4" maxlength="4" class='form-control'>
		</label><br>
		<label for="PersonalPassword">
			Personal Password:</label><br />
			<input type="text" id="PersonalPassword" name="PersonalPassword" value="" size="30" maxlength="50" class='form-control'>
<br>
		<button id="btnLogin" name="btnLogin" class='btn btn-primary'>GO</button>
	</form>
</div>
</div>
</div>
</div>
