<div class='jumbotron' style='background:url(assets/img/background.jpg) no-repeat center 5% ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;'>

  <div class='container'>
    <div class='col-md-12' style="color:#292929;;">
    <h1>David R. Alig</h1>
    <p>Trusts, Wills, & Probate Administration<br>
      Disability & Elder Law Planning<br>
      Business Strategies & Corporate Law</p>
    </div>
    <h3 class='text-right' style="color:#fff; text-shadow: 2px 2px 4px #333333;">"Winning the Race to Retirement."</h3>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
  For more than 30 years, I have helped families and individuals, including business owners and professionals, successfully use excellent estate planning tools to take care of themselves and protect their loved ones' inheritances.  I help personal representatives and trustees through the probate process, management of trusts, and the intricacies of guardianship.

Some of the basic services I provide are:<br><br>

<ul>
<li>Creation of wills and trusts.</li>
<li>Powers of attorney and health care directives.</li>
<li>Pre-marital agreements and domestic partner agreements.</li>
<li>Special needs & guardianship planning.</li>
<li>Fiduciary guidance during disability or after death.</li>
</ul>
<br>

I welcome your call at <strong>(913) 387-5522</strong> to schedule an initial hour-long consultation at no charge.

Click on the contact link at the top of this page for a map to our location.

We will also be happy to provide you with a complimentary copy of our Estate Planning Questionnaire - or you can <strong><a href="/downloads">download</a></strong> a copy from this website.

You may leave a voice mail at any time or communicate by email at the following address: <strong><a href="mailto:aliglaw@gmail.com">aliglaw@gmail.com</a></strong>.  A secure email link may be made directly from this website.

Fees are often computed on a "flat" or "project" basis; but sometimes are set at an hourly rate, depending on your particular goals, issues, or conflicts.

</div>
<div class='col-md-4'>
  <div style="background:#F2E6B6;padding:1px 15px 15px 15px;text-align:left;width:100%px">
	<form method="post" action="https://www.docubank.com/index.cfm?event=memberlogin" id="frmLogin" name="frmLogin" class='form-group'>
		<h4>DocuBank Member Log In</h4>
		<label for="MailingListID">
			Member Number:<br />
			<input type="text" id="MailingListID" name="MailingListID" value="" size="30" maxlength="50" class='form-control'>
		</label><br>
		<label for="Access_Code">
			PIN:<br />
			<input type="text" id="Access_Code" name="Access_Code" value="" size="4" maxlength="4" class='form-control'>
		</label><br>
		<label for="PersonalPassword">
			Personal Password:</label><br />
			<input type="text" id="PersonalPassword" name="PersonalPassword" value="" size="30" maxlength="50" class='form-control'>
<br>
		<button id="btnLogin" name="btnLogin" class='btn btn-primary'>GO</button>
	</form>
</div>
</div>
</div>
</div>
