.navbar{
  margin-bottom:0px;
  border-bottom:0px;
}

.bg-color{
  background: #5B7876;
}

html, body {
  font-family: 'Lora', serif;
  font-size: 18px;
}

a.navbar-brand, .nav a{
  color:#F2E6B6 !important;
}

a.navbar-brand:hover, .nav a:hover{
  color:#fff !important;
}

button.navbar-toggle{
  border:0px;
}

.footer{
  color: #999999;
  font-size: 14px;
  margin-bottom:15px;
}
